* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gameTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
  background-color: rgb(132, 36, 12);
}

.paraContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(218, 109, 66);
}

.paragraph {
  width: 500px;
  text-align: center;
  padding: 5px;
}

body {
  background-image: url(./images/backgroundimg.jpg);
  background-size: cover;
}

.btnContainer,
#result,
#playerScore,
#computerScore,
#currentSelections,
#currentScores {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;
  color: white;
}

#resultContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#result,
#playerScore,
#computerScore,
#currentSelections,
#currentScores {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  width: 600px;
}

.btnContainer {
  padding: 50px;
}

.button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: crosshair;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(132, 36, 12);
  height: 70px;
  margin-top: 50px;
}